@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Garage Web App Online</h1>
    <p class="lead">Welcome to GOWA - Garage Web App Online, please feel free to browse our different cars and where to find them in the different toggles in the menu bar above.</p>
   
</div>

